[Unit]
Description=Airflow webserver daemon
After=network.target
[Service]
EnvironmentFile=/etc/environment
User=tiencm8
Type=simple
ExecStart= /usr/local/bin/airflow webserver
Restart=on-failure
RestartSec=5s
PrivateTmp=true
[Install]
WantedBy=multi-user.target